<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>[uBlogsy] Container - Author</Name>
    <Alias>uBlogsyContainerAuthor</Alias>
    <Icon>folder_user.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>uBlogsyBaseContainer</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>uBlogsyAuthor</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>