<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>Item</Name>
    <Alias>Item</Alias>
    <Icon>doc.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>Item</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>