<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>[uBlogsy] Post</Name>
    <Alias>uBlogsyPost</Alias>
    <Icon>page_green.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This document type is for your blog posts. Put these posts directly under the year folder or under a month folder.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>uBlogsyBasePage</Master>
    <AllowedTemplates>
      <Template>uBlogsyPost</Template>
    </AllowedTemplates>
    <DefaultTemplate>uBlogsyPost</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>uCommentsyContainerComment</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Main Image</Name>
      <Alias>uBlogsyPostImage</Alias>
      <Type>ead69342-f06d-4253-83ac-28000225583b</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Post Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Author</Name>
      <Alias>uBlogsyPostAuthor</Alias>
      <Type>7e062c13-7c41-4ad9-b389-41d88aeef87c</Type>
      <Definition>ec090322-7f08-4c1a-92cd-682bff7dbdcf</Definition>
      <Tab>Post Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[There can be multiple authors separated by ",".]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Post Date</Name>
      <Alias>uBlogsyPostDate</Alias>
      <Type>b6fb1622-afa5-4bbf-a3cc-d9672a442222</Type>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Tab>Post Info</Tab>
      <Mandatory>True</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Tags</Name>
      <Alias>uBlogsyPostTags</Alias>
      <Type>d15e1281-e456-4b24-aa86-1dda3e4299d5</Type>
      <Definition>1dcab42b-3ade-46d0-b13a-83e2f2944d20</Definition>
      <Tab>Post Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Remember to click save (or publish)!]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Categories</Name>
      <Alias>uBlogsyPostLabels</Alias>
      <Type>7e062c13-7c41-4ad9-b389-41d88aeef87c</Type>
      <Definition>e9bc6389-9a8a-4f7b-b752-96e8b0e9fd51</Definition>
      <Tab>Post Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Disable Comments</Name>
      <Alias>uBlogsyPostDisableComments</Alias>
      <Type>38b352c1-e9f8-4fd8-9324-9a2eab06d97a</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Post Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Allows you to disable comments to this post. Note that comments that already exist will remain viewable.]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>17</Id>
      <Caption>Post Info</Caption>
    </Tab>
  </Tabs>
</DocumentType>