<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>[uBlogsy] Container - Email Template</Name>
    <Alias>uBlogsyContainerEmailTemplate</Alias>
    <Icon>folder_page_white.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>uBlogsyBaseContainer</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>