<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>[uBlogsy] Landing</Name>
    <Alias>uBlogsyLanding</Alias>
    <Icon>feed.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the root of your blog. It is required. There can be multiple of these. But they cannot be nested under eachother.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>uBlogsyBasePage</Master>
    <AllowedTemplates>
      <Template>uBlogsyLanding</Template>
    </AllowedTemplates>
    <DefaultTemplate>uBlogsyLanding</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>uBlogsyContainerAuthor</DocumentType>
    <DocumentType>uBlogsyContainerEmailTemplate</DocumentType>
    <DocumentType>uBlogsyContainerLabel</DocumentType>
    <DocumentType>uBlogsyPost</DocumentType>
    <DocumentType>uBlogsyRSS</DocumentType>
    <DocumentType>uCommentsyConfiguration</DocumentType>
    <DocumentType>uDateFoldersyFolderYear</DocumentType>
    <DocumentType>uTagsyTagContainer</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Default Author</Name>
      <Alias>uBlogsyGeneralDefaultAuthor</Alias>
      <Type>7e062c13-7c41-4ad9-b389-41d88aeef87c</Type>
      <Definition>ec090322-7f08-4c1a-92cd-682bff7dbdcf</Definition>
      <Tab>General Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[This author is used when none are defined in a post.]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Use Summary On Landing</Name>
      <Alias>uBlogsyGeneralUseSummary</Alias>
      <Type>38b352c1-e9f8-4fd8-9324-9a2eab06d97a</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>General Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Select this to use post summaries on the main page, instead of whole posts.
]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Show Social Media Links</Name>
      <Alias>uBlogsyGeneralShowSocialMedia</Alias>
      <Type>38b352c1-e9f8-4fd8-9324-9a2eab06d97a</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>General Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Select this to show social media sharing links under each post.]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Use Title As Node Name</Name>
      <Alias>uBlogsyGeneralUseTitleAsNodeName</Alias>
      <Type>38b352c1-e9f8-4fd8-9324-9a2eab06d97a</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>General Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Deselect this if you want to have a post title which is different to your post's node name.

eg. If you want your title to be "My title" but you want the post url to be /posts/2011/01/my-cool-title/ instead of /posts/2011/01/my-title/

Selected by default.]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Blog Roll Links</Name>
      <Alias>uBlogsyBlogLinks</Alias>
      <Type>67db8357-ef57-493e-91ac-936d305e0f2a</Type>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Tab>Blog Roll</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[A list of blogs you want to follow. Make sure it's one per line.

e.g 
http://feeds.feedburner.com/midcodecrisis
http://feeds.feedburner.com/umbracoblog]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>15</Id>
      <Caption>General Settings</Caption>
    </Tab>
    <Tab>
      <Id>16</Id>
      <Caption>Blog Roll</Caption>
    </Tab>
  </Tabs>
</DocumentType>