<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>Article</Name>
    <Alias>Article</Alias>
    <Icon>folder_table.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Page</Master>
    <AllowedTemplates>
      <Template>Article</Template>
    </AllowedTemplates>
    <DefaultTemplate>Article</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>