<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>[uBlogsy] Site Root</Name>
    <Alias>uBlogsySiteRoot</Alias>
    <Icon>house.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>True</AllowAtRoot>
    <Master>uBlogsyBasePage</Master>
    <AllowedTemplates>
      <Template>uBlogsySiteHome</Template>
    </AllowedTemplates>
    <DefaultTemplate>uBlogsySiteHome</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>uBlogsyLanding</DocumentType>
    <DocumentType>uBlogsyPage</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>