<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>Content Page</Name>
    <Alias>ContentPage</Alias>
    <Icon>doc4.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Page</Master>
    <AllowedTemplates>
      <Template>Content</Template>
    </AllowedTemplates>
    <DefaultTemplate>Content</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>ContentPage</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>