<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>EarningsDetail</Name>
    <Alias>EarningsDetail</Alias>
    <Icon>doc5.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Page</Master>
    <AllowedTemplates>
      <Template>EarningsDetail</Template>
    </AllowedTemplates>
    <DefaultTemplate>EarningsDetail</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>