<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>[uBlogsy] Page</Name>
    <Alias>uBlogsyPage</Alias>
    <Icon>page_white_cup.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This document type is for simple pages.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>uBlogsyBasePage</Master>
    <AllowedTemplates>
      <Template>uBlogsyPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>uBlogsyPage</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>